.madeby{
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal;
}

#search-button{
  margin-left: 1rem;
}

.result{
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2.5rem 3rem;
  /*inspired by https://codepen.io/sdthornton/pen/wBZdXq*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 

}
